@import url('https://fonts.googleapis.com/css2?family=Mooli&family=Roboto:ital,wght@0,300;0,400;1,100;1,300&display=swap');
body{
    font-family: 'Mooli', sans-serif;
}
main {

    display: flex;
    justify-content: center;
    height: 85vh;
    align-items: center;
    
}

.calculator{
    background-color: rgb(156, 152, 152);
    width:fit-content; 
    border: 2px black solid;
    border-radius: 5px;
    padding: 14px
}

.container {
    display:grid;
    justify-content: center;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: 200px, 100px, 100px, 100px, 100px ,100px;
   

    gap: 10px;
   
 
    
}
.specSymbol{
    padding:25px;
    border-radius: 5px;
    font-size: 20px;
}
.number {
    padding: 25px;
    border-radius: 5px;
    font-size: 20px;
}

.clear{
 padding: 20px;
 border-radius: 5px;
 font-size: 15px;
}
#display{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    grid-column-start: 1;
    grid-column-end: 5;
    height: 50px;
    width: 300px;
    background-color: white;
    text-align: end;
    border: black solid 1px;
    border-radius: 1px;
    margin-bottom: 10px;
    
    
}
#clear-Btn {
    grid-column-start: 1;
    grid-column-end: 3;
}
#delete-Btn{
    grid-column-start: 3;
    grid-column-end:5;    
}

#current-operation {
font-size: 18px;
padding: 1px;


}
#last-operation {
font-size: 18px;
padding: 1px;
}

#footer {
    display: flex;
    margin-top: 30px;
    font-size: 24px;
   justify-content: center;
   gap: 5px;
   
}